.home-list-section {
  min-height: 85vh;
  margin-top: 10vh;

  .home-search-bar-container {
    position: sticky;
    top: 10px;
    z-index: 1;

    .home-search-bar {
      width: -webkit-fill-available;
      height: 2.5rem;
      border: none;
      border-radius: 20px;
      box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 20%);
      padding: 0 20px;
      outline: none;
    }
  }

  .home-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    padding: 0;

    .home-list-item {
      min-height: 170px;
      max-height: 250px;
      transition: all 0.2s ease-out;
      cursor: pointer;

      .item-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .item-img-container {
          margin-right: 10px;
          background-color: #00000015;
          border-radius: 50%;
          height: 80px;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .item-img {
            position: absolute;
          }
        }

        .item-info-container {
          height: -webkit-fill-available;
          padding: 10px;
          display: grid;
          grid-template-rows: auto auto 40%;

          .item-name-container {
            .item-name {
              margin: 0;
            }
          }

          .item-types-list {
            list-style: none;
            padding: 0;
            font-size: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 60px;
            text-align: center;
          }
        }
      }
    }

    .home-list-item:hover {
      transform: scale(1.03);
    }
  }
}

@media (max-width: 820px) {
  .home-list-section {

    .home-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 500px) {
  .home-list-section {
    .home-list {
      grid-template-columns: auto;
    }
  }
}